
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}



body {
  background-color: #000;
}

main {
  width: 100%;
  margin: auto;
  padding-top: 86px;
}



.header-container {
  width: 100%;
  background-color: #151515;
  position: fixed;

}

.header-nav  {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;

}

.header-nav ul li  {
  list-style: none;
  margin-left: 30px;
}

.header-nav img {
  display: block;
  padding: 10px 0;
}

.menu-nav {
  text-decoration: none;
  text-transform: uppercase;
  color: #4558bf;
  font-weight: bold;
 
  font-size: 1.2rem;
}

.button-top {
  display:none ;
  color: #4558bf;
  font-weight: bold;
  padding: 10px 0;
 
  font-size: 1.2px;
}

.home-bg {
  width: 100%;
  height: 90vh;
  background-image: url(img/BG\ home\ \(1\).png);
  background-repeat: no-repeat;
  background-position: right ;
  background-size:80rem;
 
}

.home {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.home-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 70%;
  justify-content: space-between;
}

.home-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 60%;
  height: 500px;
  background-image: url(img/Seta\ home.png);
  background-repeat: no-repeat;
  background-position: 30px;
  background-size:auto;
}
.home-photo {

  display: flex;
  align-items: center;
  justify-content: right;


}


h1 {
  color: #4558bf;
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
}

h2 {
  color: #ABAAAA;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 1rem;
}

.main-bg {
  width: 100%;
  height: 200vh;
  background-image: url(img/Bg\ main\ \(1\)\ \(1\).png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  
}

.main-container {
  width: 70%;
  margin: auto;
}

.main-about {
  padding-top: 3rem;
  width: 100%;
  margin: auto;
}

.name-info {
  display: flex;
  margin-bottom:1rem ;
}

h3 {
  padding-left: 1.75rem;
  font-size: 2rem;
  color: #4558BF;
  
}

.text-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 4px solid #4558BF;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 36px  48px 48px 48px;
  



}

h4 {
  font-size:1.5rem ;
  line-height: 48px;
  font-weight:500;
  color: #ABAAAA;
  
}

.button-info {
 
  font-size:1.25rem ;
  width: 208px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#5D70DB, #18204D );
  border: 0;
  color: #ffff;
  font-weight: bold;
  margin-top: 48px;

}

.button-info img {
  padding-left: 12px;
}

.main-ability {
  padding-top: 5rem;
  width: 100%;
  margin: auto;
}

.main-ability-container {
  display: flex;
  width: 100%;
  border: 4px solid #4558BF;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 60px  48px ;



}

h5 {
  color: #ABAAAA;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 12px;
  font-weight: bold;
}

.ability-info{
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

.projects-info{
  width: 100%;
  margin-top: 100px;

}

.projects-container {
  width: 100%;
  border: 4px solid #4558BF;
  border-radius: 10px;
  padding: 60px  48px ;
}

.projetcs-show {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.projects-show-img {
  margin-right: 50px;

 width: 100%;
}

.projects-show-img img {
  width: 100%;
  border-radius: 10px;
}


.projects-show-text{
  max-width: 500px;
  width: 80%;

}

h6 {
  font-size: 2rem;
  color: #4558BF;
  text-align: left;
  padding-bottom: 10px;

}

p {
  font-size:1.5rem ;
  line-height: 40px;
  font-weight:500;
  color: #ABAAAA;
}

.buttons-project {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 32px;
}


.button-deploy, .button-git {
  font-size:1.25rem ;
  width: 142px;
  height: 48px;
  border-radius: 5px;
  background: linear-gradient(#5D70DB, #18204D );
  border: 0;
  color: #ffff;
  font-weight: bold;
  margin-left: 36px;
  
}

.division {
  width: 100%;
  height: 2px;
  background-color: #3f3f3f;
  margin-top: 32px;
}














@media (max-width: 1500px) {


  .home-photo img {


    width: 400px;

  }
  h1 {
    
    font-size: 2.5rem;
   
  }
  
  h2 {
    color: #ABAAAA;
    font-size: 2rem;
  }


  .menu-nav {
  
    font-size: 1rem;
  }
  
  .button-top {
    font-size: 1px;
  }

  .home-name {

    background-size:25rem;
  }


  .home-bg {

    background-size:70rem;
   
   
  }



}


@media (max-width: 1250px) {

  .header-nav img {
    display: block;
    padding: 10px 0;
  }


  .home-photo img {


    width: 300px;

  }
  h1 {

    
    font-size: 2rem;
   
  }
  
  h2 {
    color: #ABAAAA;
    font-size: 1.5rem;
  }


  .menu-nav {
  
    font-size: 0.75rem;
  }
  
  .button-top {
    font-size: 0.75rem;
  }


  .home-bg {

    background-size:cover;
    background-position: 5rem;
    background-attachment: fixed;
    
   
   
  }
  .home-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 60%;
    height: 500px;
    background-image: url(img/Seta\ home.png);
    background-repeat: no-repeat;
    background-position: 30px;
    background-size:20rem;
  }


}





@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}



body {
  background-color: #000;
}

main {
  width: 100%;
  margin: auto;
  padding-top: 86px;
}



.header-container {
  width: 100%;
  background-color: #151515;
  position: fixed;

}

.header-nav  {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;

}

.header-nav ul li  {
  list-style: none;
  margin-left: 30px;
}

.header-nav img {
  display: block;
  padding: 10px 0;
}

.menu-nav {
  text-decoration: none;
  text-transform: uppercase;
  color: #4558bf;
  font-weight: bold;
 
  font-size: 1.2rem;
}

.button-top {
  display:none ;
  color: #4558bf;
  font-weight: bold;
  padding: 10px 0;
 
  font-size: 1.2px;
}

.home-bg {
  width: 100%;
  height: 90vh;
  background-image: url(img/BG\ home\ \(1\).png);
  background-repeat: no-repeat;
  background-position: right ;
  background-size:80rem;
  background-attachment: fixed;
 
}

.home {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.home-container {
  display: flex;
  align-items: center;
  margin: auto;
  width: 70%;
  justify-content: space-between;
}

.home-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 60%;
  height: 500px;
  background-image: url(img/Seta\ home.png);
  background-repeat: no-repeat;
  background-position: 30px;
  background-size:auto;
}
.home-photo {

  display: flex;
  align-items: center;
  justify-content: right;


}


h1 {
  color: #4558bf;
  font-size: 3rem;
  font-weight: bold;
  line-height: 4rem;
}

h2 {
  color: #ABAAAA;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 1rem;
}


@media (max-width: 1500px) {


  .home-photo img {


    width: 400px;

  }
  h1 {
    
    font-size: 2.5rem;
   
  }
  
  h2 {
    color: #ABAAAA;
    font-size: 2.2rem;
  }


  .menu-nav {
  
    font-size: 1rem;
  }
  
  .button-top {
    font-size: 1px;
  }

  .home-name {

    background-size:25rem;
  }


  .home-bg {

    background-size:70rem;
   
   
  }



}


@media (max-width: 1250px) {

  .header-nav img {
    display: block;
    padding: 10px 0;
  }


  .home-photo img {


    width: 300px;

  }
  h1 {

    
    font-size: 2rem;
   
  }
  
  h2 {
    color: #ABAAAA;
    font-size: 1.8rem;
  }


  .menu-nav {
  
    font-size: 0.75rem;
  }
  
  .button-top {
    font-size: 0.75rem;
  }


  .home-bg {

    background-size:cover;
    background-position: 5rem;
    background-attachment: fixed;
    
   
   
  }
  .home-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 60%;
    height: 500px;
    background-image: url(img/Seta\ home.png);
    background-repeat: no-repeat;
    background-position: 30px;
    background-size:20rem;
  }


}
@media (max-width: 1000px) {

  .header-nav img {
    display: block;
    padding: 10px 0;
  }


  .home-photo img {


    width: 250px;

  }
  h1 {

    
    font-size: 1.5rem;
    line-height: 2.5rem;
   
  }
  
  h2 {

    font-size: 1.3rem;
    margin-top: 0.5rem;
  }


  .menu-nav {
  
    font-size: 0.75rem;
  }
  
  .button-top {
    font-size: 0.75rem;
  }


  .home-bg {

    background-size:cover;
    background-position: 1rem;
    background-attachment: fixed;
    
   
   
  }
  .home-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 60%;
    height: 500px;
    background-image: url(img/Seta\ home.png);
    background-repeat: no-repeat;
    background-position: 20px;
    background-size:15rem;
  }


}




