@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #000;
  overflow: auto;
  transition: 0.5s;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: #000000;
}
body::-webkit-scrollbar-thumb {
  background-color: #383838;
  border-radius: 5px;
}

body.mobileMenu {
  overflow: hidden;
  border: none;
}
main {
  width: 100%;
  margin: auto;
}
.header-container {
  width: 100%;
  background-color: #151515cb;
  position: fixed;
  backdrop-filter: blur(15px);
  transition: 0.5s;
  animation: showHeader 0.8s forwards;
}
.activeNav.header-container {
  transition: 0.5s;
  background-color: #3f51b5d3;
  z-index: 999999;
}
.header-nav {
  margin: auto;
  max-width: 1076px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.header-nav ul {
  display: flex;
  justify-content: space-between;
}
.header-nav ul span {
  display: none;
}
.header-nav ul li {
  list-style: none;
  margin-left: 24px;
}

.header-nav img {
  width: 40px;
  display: block;
  padding: 8px 0;
}

.activeNav.header-img {
  display: none;
}
.menu-nav {
  text-decoration: none;
  text-transform: uppercase;
  color: #4558bf;
  font-weight: bold;
  font-size: 1rem;
}
.menu-nav:hover {
  transition: all 0.5s;
  color: #90a0ff;
}
.activeNav.menu-nav {
  color: #000000;
}
.activeNav.menu-nav:hover {
  transition: all 0.3s;
  color: #ffffff80;
}

@keyframes showHeader {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.button-top {
  display: none;
}

#btn-mobile {
  display: none;
}

#hamburguer-button {
  display: none;
}

.button-top a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}
.activeNav.button-top {
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}
.button-top img {
  width: 14px;
  margin-left: 10px;
  animation: showInit 1s infinite;
}

@keyframes showInit {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, -5px, 0);
  }
}
.home-bg {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: auto;
  background-image: url(img/BGHOME.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -8rem;
}
.home {
  width: 100%;
  display: flex;
  align-items: center;
}
.home-container {
  max-width: 1076px;
  padding: 0 16px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
  animation: showHome 0.8s forwards;
}

@keyframes showHome {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.home-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 500px;
  height: 500px;
  background-image: url(img/Setahome.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: 1.75rem;
}
.home-photo {
  display: flex;
  align-items: center;
  justify-content: right;
}
.home-photo img {
  width: 340px;
}
h1 {
  color: #4558bf;
  font-size: 32px;
  font-weight: bold;
  line-height: 3rem;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
.ui {
  padding-top: 16px;
}
.h2 {
  padding-top: 16px;
}

.h2::after {
  content: "|";
  margin-left: 2px;
  opacity: 1;
  animation: blinkBar 0.7s infinite;
}
@keyframes blinkBar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.main-bg {
  width: 100%;
  padding-bottom: 60px;
  padding-top: 60px;
  background-image: url("img/Bg\ main\ .png");
  background-repeat: no-repeat;
  background-position: center;
}
.main-container {
  max-width: 1076px;
  padding: 0 16px;
  width: 100%;
  margin: auto;
}
/* .main-about {
  width: 100%;
  margin: auto;
} */
.name-info {
  display: flex;
  margin-bottom: 1rem;
}
h3 {
  padding-left: 1.75rem;
  font-size: 1.5rem;
  color: #4558bf;
}
.text-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 4px solid #4558bf;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  margin-bottom: 56px;
}
h4 {
  font-size: 1.25rem;
  line-height: 48px;
  font-weight: 600;
  color: #abaaaa;
}
.button-info {
  padding: 12px 24px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#5d70db, #18204d);
  border: 0;
  margin-top: 48px;
  cursor: pointer;
}
.button-info:hover {
  transition: all 0.3s ease;
  background: linear-gradient(#7a8cf3, #303d86);
}
.button-info a {
  display: flex;
  align-items: center;
  color: #ffff;
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: none;
}
.button-info img {
  padding-left: 12px;
}
/* .main-ability {
  width: 100%;
  margin: auto;
} */
.main-ability-container {
  display: flex;
  width: 100%;
  border: 4px solid #4558bf;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.ability {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ability img {
  width: 100px;
}

h5 {
  color: #abaaaa;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 12px;
  font-weight: bold;
  text-align: center;
}
.ability-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.projects-info {
  margin-top: 56px;
}

.projects-container {
  border: 4px solid #4558bf;
  border-radius: 10px;
  padding: 32px;
}

.projetcs-show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  display: none;
}
.project-info-container {
  display: flex;
}
.projects-show-img {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-right: 50px;
}
.projects-show-img img {
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  border: 3px solid #2c2c2c;
}
.projects-show-text {
  max-width: 700px;
  width: 90%;
}

h6 {
  font-size: 1.5rem;
  color: #4558bf;
  text-align: left;
}
p {
  font-size: 1.2rem;
  line-height: 36px;
  font-weight: 500;
  color: #abaaaa;
}

.arrow-tittle {
  display: flex;
}
.buttons-project {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 32px;
  margin: 48px 0 48px 0;
}
.button-deploy,
.button-git {
  border: 0;
}
.button-deploy a,
.button-git a,
.figma {
  text-decoration: none;
  font-size: 1rem;
  color: #ffff;
  font-weight: bold;
  padding: 12px 24px;
  border-radius: 5px;
  background: linear-gradient(#5d70db, #18204d);
}
.button-deploy a:hover,
.button-git a:hover {
  transition: all 0.3s ease;
  background: linear-gradient(#7a8cf3, #303d86);
}

.division {
  width: 100%;
  height: 2px;
  background-color: #2c2c2c;
  margin: 0 0 32px 0;
}
.projects-carousel {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}
.buttonNext {
  background-color: #4558bf;
  display: flex;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
}

.buttonPrev {
  background-color: #4558bf;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.buttonPrev img,
.buttonNext img {
  padding: 10px;
}
.buttonPrev:hover,
.buttonNext:hover {
  transition: all 0.3s ease;
  background-color: #8797ee;
}

.visibleHidden {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  width: 100%;
  margin: 0 8px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.visibleHidden::-webkit-scrollbar {
  display: none;
}
.slide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 260px;
  height: 200px;
  border-radius: 10px;
  scroll-snap-align: start;
  cursor: pointer;
}

.slide:hover {
  transition: all 0.3s ease;
  opacity: 70%;
}
.slide.opacityButton {
  opacity: 60%;
}
.img-slide {
  height: 90px;
}

.img-slide img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 4px solid #4558bf;
}

.tittle-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e4e4e4;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  height: 60px;
  background: linear-gradient(#5d70db, #18204d);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container {
  display: none;
}
.active-content {
  display: flex;
  animation: showContent 0.7s forwards;
}

@keyframes showContent {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contacts-bg {
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(img/contacts-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -30rem;
}
.contacts-img {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 50%;
}

.contacts-img img {
  max-width: 400px;
  width: 100%;
}
.contacts-container {
  display: flex;
  max-width: 1076px;
  width: 100%;
  padding: 0 16px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.contatcs-info-container {
  display: flex;
  justify-content: left;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.contacts {
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  margin-bottom: 20px;
}
.name-contact-info {
  display: flex;
  gap: 24px;
  padding-left: 16px;
}
.name-contact-info img {
  width: 24px;
}
.name-contact-info p {
  font-size: 2.25rem;
  color: #4558bf;
  font-weight: bold;
}
.contact-mail {
  display: flex;
  align-items: center;
  padding-top: 48px;
}
.contact-mail a {
  color: #abaaaa;
  text-decoration: none;
  padding-left: 16px;
  font-size: 1.25rem;
  font-weight: 600;
}
.contact-mail a:hover {
  transition: all 0.3s ease;
  color: #ffffff;
}
.contact-phone {
  display: flex;
  align-items: center;
  padding-top: 36px;
}
.contact-phone p {
  color: #abaaaa;
  padding-left: 16px;
  font-size: 1.25rem;
  font-weight: 600;
}

.contacts-social {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.contacts-social i {
  color: #4558bf;
  font-size: 72px;
}
.contacts-social i:hover {
  transition: all 0.5s ease;
  color: #7182e6;
  transform: scale(1.1) rotate(-10deg);
}
footer {
  display: flex;
  width: 100%;
  height: 64px;
  background-color: #3f51b5ce;
  justify-content: center;
  align-items: center;
}
.name-developer {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #000000;
}
.js-scroll {
  opacity: 0;
  transition: 0.6s;
  transform: translate3d(0, 80px, 0);
}

.js-scroll.activeScroll {
  opacity: 1;
  transition: 0.6s;
  transform: translate3d(0, 0, 0);
}

@media (min-width: 1100px) {
  .home-bg {
    background-size: auto 100%;
    background-position: -4rem;
  }

  .contacts-bg {
    background-size: auto 100%;
  }
}
@media (min-width: 1440px) {
  .home-bg {
    background-size: contain;
    background-position: right;
  }

  .main-bg {
    background-position: center;
    background-size: 100% auto;
  }
  .contacts-bg {
    background-size: contain;
    background-position: left;
  }
}

@media (max-width: 800px) {
  .header-img.mobileMenu {
    visibility: hidden;
  }

  #btn-mobile {
    display: flex;
    border: none;
    background: none;
    cursor: pointer;
  }
  #hamburguer-button {
    color: #3f51b5;
    display: block;
    border-top: 4px solid;
    width: 40px;
    transition: 0.4s;
  }
  #hamburguer-button.activeNav {
    color: #000000;
  }
  #hamburguer-button::after,
  #hamburguer-button::before {
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background: currentColor;
    margin-top: 12px;
    transition: 0.3s;
    position: relative;
    z-index: 99999999;
  }

  .header-container.mobileMenu {
    width: 100%;
    height: 100vh;
    background: linear-gradient(#5d70dbd2, #18204dc2);
    z-index: 99999999999;
    backdrop-filter: blur(15px);
    overflow: hidden;
    animation: showMenu 0.8s forwards;
    padding-top: 16px;
  }
  @keyframes showMenu {
    from {
      opacity: 0;
      height: 0;
    }

    to {
      opacity: 1;
      height: 100vh;
    }
  }
  .button-top.mobileMenu {
    visibility: hidden;
  }

  .menu-nav {
    display: none;
  }

  .header-nav ul {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .separator.mobileMenu {
    display: block;
    width: 300px;
    height: 2px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background-color: #4d60ca;
  }

  .header-nav ul li {
    margin-left: 0px;
  }

  .menu-nav.mobileMenu {
    display: flex;
    flex-direction: column;
    color: #e4e4e4;
    position: relative;
    font-size: 1.5rem;
    padding: 32px;
    z-index: 9999999;
  }
  .menu-nav.mobileMenu:hover {
    transition: all 0.4s ease;
    background-color: #5d70db;
  }

  .mobileMenu #hamburguer-button {
    border-top: transparent;
  }

  .mobileMenu #hamburguer-button::before {
    color: #000;
    transform: rotate(135deg);
  }

  .mobileMenu #hamburguer-button::after {
    color: #000;
    transform: rotate(-135deg);
    top: -16px;
  }
  .activeNav.button-top a {
    font-size: 1.2rem;
  }

  .button-top img {
    width: 20px;
  }

  .header-img {
    width: 40px;
  }

  main {
    padding-top: 64px;
  }

  .home-bg {
    background-image: url(img/bgmobile.png);
    background-position: top right;
    background-size: 30rem;
    background-repeat: no-repeat;
  }
  .home-container {
    flex-direction: column-reverse;
    justify-content: center;
  }

  .home-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-image: none;
    height: 130px;
  }
  .home-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
  }
  .home-photo img {
    max-width: 340px;
    width: 100%;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  h2 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .ui {
    padding-top: 16px;
  }
  .h2 {
    padding-top: 8px;
  }

  .name-info {
    display: flex;
    margin-bottom: 1rem;
  }
  .name-info img {
    width: 22px;
  }
  h3 {
    font-size: 20px;
    padding-left: 0.75rem;
  }
  .text-info {
    padding: 16px;
  }
  h4 {
    font-size: 16px;
    line-height: 40px;
  }
  .projects-show-text {
    margin-top: 20px;
    width: 100%;
  }
  .button-info a {
    font-size: 16px;
  }
  .main-ability-container {
    padding: 16px;
  }
  h5 {
    font-size: 0.75rem;
    padding-bottom: 8px;
  }

  .ability img {
    width: 80%;
    max-width: 70px;
  }
  .ability {
    width: 28%;
  }
  .ability-info {
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
  }

  .projects-container {
    padding: 16px;
  }

  .button-deploy a,
  .button-git a,
  .figma {
    font-size: 14px;
    padding: 12px 20px;
  }

  .project-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects-show-img {
    margin-right: 0;
  }
  .projects-show-img img {
    max-width: 1076px;
    width: 100%;
    border-radius: 10px;
    border: 3px solid #2c2c2c;
  }

  h6 {
    text-align: center;
    font-size: 1.2rem;
  }
  .arrow-tittle {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
  }

  .iconArrow {
    color: #3f51b5;
    padding-left: 10px;
    font-size: 22px;
    transform: rotateX(180deg);
  }

  .iconArrow.active-description {
    animation: showArrow 0.8s forwards;
  }
  @keyframes showArrow {
    100% {
      opacity: 1;
      transform: rotateX(360deg);
    }
  }
  .mobile-description {
    margin-top: 10px;
    display: none;
    font-size: 16px;
    line-height: 32px;
    animation: showDesc2 0.5s forwards;
  }

  .mobile-description.active-description {
    display: flex;
    animation: showDesc 0.5s forwards;
  }

  @keyframes showDesc {
    from {
      opacity: 0;
      transform: translate3d(0, -40px, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .visibleHidden {
    gap: 24px;

    margin: 0 14px;
  }

  .buttonPrev img,
  .buttonNext img {
    width: 32px;
  }
  .buttonPrev,
  .buttonNext {
    width: 30px;
  }

  .slide {
    min-width: 160px;
    height: 120px;
  }

  .tittle-slide {
    font-size: 14px;
    height: 40px;
  }

  .contacts-bg {
    background-image: url(img/bgcontatcmobile.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 30rem;
  }
  .contacts-img {
    justify-content: center;
  }
  .contacts-img img {
    width: 264px;
  }

  .contacts-container {
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 76px;
  }
  .contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: none;
  }
  .contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    align-items: left;
  }
  .name-contact-info {
    display: flex;
    justify-content: left;
    gap: 0;
    padding-left: 0;
  }
  .name-contact-info img {
    width: 24px;
  }
  .name-contact-info p {
    padding-left: 1rem;
    font-size: 2.26rem;
    color: #4558bf;
    font-weight: bold;
    text-align: center;
  }
  .contact-mail {
    padding-top: 48px;
  }
  .contact-mail a {
    font-size: 1.25rem;
  }
  .contact-phone p {
    font-size: 1.25rem;
  }
  .contact-mail img {
    width: 24px;
  }
  .contact-phone img {
    width: 24px;
  }
  .contacts-social {
    justify-content: left;
    gap: 40px;
  }
  .name-developer {
    font-size: 1rem;
  }
}

@media (min-width: 500px) {
  .ability-info {
    flex-wrap: nowrap;
  }
}
